{% extends 'base.html' %}

{% block body %}
<div class="row" id="form-fill">
	<div class="col-sm-10 col-sm-offset-0">
		<h2>Have your manuscripts reviewed</h2>
		<p>This website is a project for CS 485/540 at Emory. We wanted to create a utility to facilitate internal reviews of manuscripts for Emory graduate students, in order to improve their success in being accepted to national journals. Please submit feedback by clicking "more" in the above bar and selecting "submit feedback".</p>
	</div>
</div>
{% endblock %}
