{% extends 'base.html' %}

{% block head %}
<!-- Login page. -->
<style>
.errorlist {
	font-size: 10px;
	color: red;
	display: inline;
}	
.errorlist li {
	display: inline
}
</style>
{% endblock %}

{% block body %}
<div class="row" id="form-fill">
	<div class="col-sm-10     col-sm-offset-0">
		{% if errors %}<p class="errorlist">{{ errors }}</p>{% endif %}
		<form class="form-horizontal" name="accountForm" role="form" method="post">
			{% csrf_token %}
			{% for field in form %}
			{% if not field.is_hidden %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}" class="col-sm-3 text-right control-label">{{ field.label_tag }}</label>
				<div class="col-sm-9">
					{{ field }}
				</div>
			</div>
			{% endif %}
			{% endfor %}
			<div class="hot-container text-center">
            <div class="col-sm-11 col-sm-offset-2">
				<button class="abtn btn-green" name="savebutton"  type="submit">Save Changes</button>
                <button class ="abtn btn-green" name="delete" type="submit">Delete</button>
                </div>
			</div>

	</div>
</div>
{% endblock %}