{% extends 'base.html' %}

{% block head %}
<!-- Login page. -->
<style>
.errorlist {
	font-size: 10px;
	color: red;
	display: inline;
}	
.errorlist li {
	display: inline
}
</style>
{% endblock %}

{% block body %}
<div class="row" id="form-fill">
	<div class="col-sm-9 col-sm-offset-3">
		{% if errors %}<p class="errorlist">{{ errors }}</p>{% endif %}
		<form class="form-horizontal" name="accountForm" role="form" method="post">
			{% csrf_token %}
			{% for field in form %}
			{% if not field.is_hidden %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}" class="col-sm-3 text-right control-label">{{ field.label_tag }}</label>
				<div class="col-sm-9">
					{{ field }}
				</div>
			</div>
			{% endif %}
			{% endfor %}
			<div class="hot-container text-center">
				<button class="abtn btn-green" type="submit">Submit</button>
			</div>
		</form>
		<form class="form-horizontal" name="accountForm" role="form" method="get">
			{% csrf_token %}
			<div class="form-group">
				<label for="delete" class="col-sm-3 text-right control-label">I want to delete my account</label>
				<input type="checkbox" name="delete" value="DELETE">
			</div>
			<div class="hot-container text-center">
				<button class="abtn btn-green" type="submit">Delete Account</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}