{% extends 'admin_base.html' %}
{% block body %}
	<h3 title = "Introduction" class="home_intro"> Welcome to Emory Manuscript Review System </h3>
	<br>
		<div title = "Current session">
		<div class="row announce">

			<div class="col-sm-5 col-sm-offset-1 ">
				<h5>Meeting</h5>
				<div class='ad meeting'>Time: {% if group_meeting_time %}{{group_meeting_time}}{% else %}<span class="msg1">None is available</span>{% endif %}<br/>
					Venue: {% if group_meeting_venue%}{{group_meeting_venue}}{% else %}<span class="msg1">None is available</span>{% endif %}
				</div>
			</div>
			<div class="col-sm-5 ">
				<h5>Deadline</h5>
				<div class='ad deadline'>Deadline for manuscript submission: <span class="msg1">{% if submission_deadline %}{{submission_deadline}}{% else %}None is available{% endif %}</span>.
					<br/>Deadline for manuscript review: <span class="msg1">{% if review_deadline %}{{review_deadline}}{% else %}None is available{% endif %}</span>.
				</div>
			</div>

		</div>
		</div>

	<div class = "row hot-container1" style="">
	  <div class="col-sm-5 col-sm-offset-1">
		<a href="{% url 'admin_browselist' %}" class="btn btn-green1 btn-1" title="Browse lists of manuscripts/reviewers and make final decisions.">Manuscripts/Reviewers</a>
	  </div>
	  <div class="col-sm-5">
		<a href="{% url 'admin_setting' %}" class="btn btn-green1 btn-1" title="Setup max pool, deadlines, meetings, email reminder dates.">System Settings</a>
	  </div>
	</div>
{% endblock %}