{% extends 'admin_base.html' %}
{% block body %}
		<div class="row admin-nav2">
		<ol class="breadcrumb">
		  <li><a href="{% url 'admin_homepage' %}">Home</a></li>
		  <li class="active">Manuscripts/Reviewers</li>
		</ol>		
		</div>		  
	  
			<div class="row admin_cur_session">
				Current session
			</div>
				<div class="row announce">

					<div class="col-sm-7">
						<h5>Meeting</h5>
						<div class='ad meeting'>
						Time: {{group_meeting_time}}<br/>
						Venue: {{group_meeting_venue}}
						</div>
					</div>
					<div class="col-sm-5">
						<h5>Deadline</h5>
						<div class='ad deadline'>
						Deadline for manuscript submission is <span class="msg1">{{submission_deadline}}</span>.<br/>
						Deadline for manuscript review is <span class="msg1">{{review_deadline}}</span>.
						</div>
					</div>					
					
				</div>
				<div class="row manuscripts1">
					<!-- Manuscripts  -->
					<div class="col-sm-7">
						<h5 class="subtitle">Manuscripts</h5>
						<div id="manuscript-list">			
							{% for manuscript in manuscripts %}
							<div class = "manuscript" id="manuscript">
							{% if not manuscript.is_final %}
							<form class="form-inline" id="form1" role="form" method="post">
								{% csrf_token %}		
								<table class="table table-no-border table-condensed">
									<caption>{{manuscript.id}}. <a href="{% url 'manuscript_detail'  pk=manuscript.id %}">{{ manuscript.brief_title }}</a></caption>
									<thead>
										<tr>
										  <th class="col-sm-3"></th>
										  <th class="col-sm-9"></th>
										</tr>
									</thead>	
									<tbody>			  
										<tr>
										  <td>Author</td>
											<td>
											{% for author in manuscript.authors.all %}
											<a class="user admin_author" href="{% url 'user_detail' pk=author.id%}"><span value="{{ author.id }}"></span>{{author.first_name}} {{author.last_name}}{{author.star_string}}{% if not forloop.last %},{% endif %}</a>
											{% endfor %}
											</td>
										</tr>	
										<tr>
										  <td>Assigned reviewers</td>
										  <td>
											{% for reviewer in manuscript.reviewers.all %}
											<span class="checkbox"><input type="checkbox" checked="checked" value={{reviewer.email}} name="reviewers"></span><a class="user" href="{% url 'user_detail'  pk=reviewer.id %}"><span value="{{ reviewer.id }}"></span>{{reviewer.first_name}} {{reviewer.last_name}}{{reviewer.star_string}}{% if not forloop.last%},{% endif %}</a>
											{% endfor %}
										  </td>										
										</tr>	
										<tr>
										  <td>Recommend reviewers</td>
										  <td>
											{% for reviewer in manuscript.recommended_reviewers %}
											<span class="checkbox"><input type="checkbox" value={{reviewer.email}} name="reviewers" ></span><a class="user" href="{% url 'user_detail'  pk=reviewer.id %}"><span value="{{ reviewer.id }}"></span>{{reviewer.first_name}} {{reviewer.last_name}}{{reviewer.star_string}}{% if not forloop.last%},{% endif %}</a>
											{% endfor %}
											</td>
										</tr>	
										<tr class='add-reviewer'>
										  <td>Added reviewers</td>
										  <td></td>
										</tr>	
										<tr class="msg">
										<td colspan=2>Assignment has been saved to database.<br/> Warning: The matching constrains are not satisfied because [reason]. </td>
										<td></td>
										</tr>										
										<tr>
											<td></td>
											<td>
											<div class="btn-group pull-right">
												<button type="submit" class="btn btn-default btn-sm finish-edit-btn"  title="Save and finish edit." value={{manuscript.id}} name="save">Finish Edit</button>						
												<button type="button" class="btn btn-default btn-sm add-btn" title="Add additional reviewers from reviewer list on the right to this manuscript!">Add more reviewers</button>		     
			
												<button type="submit" class="btn btn-default btn-sm submit-btn" title="Submit final matching decision." data-toggle="modal" data-target=".bs-submit-confirm1" value={{manuscript.id}} name="final">Submit final decision</button>	
												<button type="button" class="btn btn-default btn-sm edit-btn" title="Edit reviewers for the manuscript.">Edit</button>												
											</div>
											</td>							
										</tr>										
									</tbody>	
								</table>
							</form>		
							{% endif %}					
							</div>
							{% endfor %}
							{% for manuscript in manuscripts %}
							<div class = "manuscript" id="manuscript">
							{% if manuscript.is_final %}
							<table class="table table-no-border table-condensed">
								<caption>{{ manuscript.id }}. <a href="{% url 'manuscript_detail'  pk=manuscript.id %}">{{ manuscript.brief_title }}</a></caption>
								<thead>
									<tr>
									  <th class="col-sm-3"></th>
									  <th class="col-sm-9"></th>
									</tr>
								</thead>	
								<tbody>			  
									<tr>
									  <td>Author</td>
										<td class="admin_author">
										{% for author in manuscript.authors.all %}
										<a class="user" href="{% url 'user_detail' pk=author.id%}">{{author.first_name}} {{author.last_name}}{{author.star_string}}{% if not forloop.last %},{% endif %}</a>
										{% endfor %}
										</td>
									</tr>	
									<tr>
									  <td>Reviewers</td>
										<td>
											{% for reviewer in manuscript.reviewers.all %}
											<a class="user" href="{% url 'user_detail'  pk=reviewer.id %}">{{reviewer.first_name}} {{reviewer.last_name}}{{reviewer.star_string}}{% if not forloop.last%},{% endif %}</a>
											{% endfor %}
										</td>
									</tr>											
								</tbody>	
							</table>
							{% endif %}
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-sm-1 hide" id="add-icon">
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
					</div>
					<div class="col-sm-5">
						<h5 class="subtitle">Reviewers</h5>
						<div id="reviewer-list">
							<div class = "reviewer">
								<table class="table table-no-border table-condensed">
									<thead>
										<tr>
										  <th class="col-sm-8"></th>
										  <th class="col-sm-4"></th>
										</tr>
									</thead>	
									<tbody>			  	
										<tr>
										  <td></td>
										  <td style="text-align: right">manuscripts assigned</td>
										</tr>											
									</tbody>	
								</table>	
							</div>

							{% for reviewer in reviewers %}


							<div class = "reviewer" id="reviewer1">
								<table class="table table-no-border table-condensed">
									<caption><span class="glyphicon glyphicon-ok" value="{{reviewer.email}};{{reviewer.id}}"></span><a class="user" href="{% url 'user_detail'  pk=reviewer.id %}"><span value="{{ reviewer.id }}"></span>{{reviewer.first_name}} {{reviewer.last_name}}{{reviewer.star_string}}</a></caption>
									<thead>
										<tr>
										  <th class="col-sm-10"></th>
										  <th class="col-sm-2"></th>
										</tr>
									</thead>	
									<tbody>			  	
										<tr>
										  <td>
											  {{reviewer.research_interest}}
										  </td>
										  <td>1,2,3,4</td>
										</tr>											
									</tbody>	
								</table>							
							</div>

							{% endfor %}

						</div>
					</div>		  				

				</div>
			<div class="row admin_prev_session" title="view list of manuscripts in previous sessions">
				Previous sessions
			</div>	
			<ul>
				<li><a href="" title="view list of manuscripts in session 4">Session 4 (2013 May - 2013 July)</a></li>
				<li><a href="">Session 3 (2012 May - 2012 July)</a></li>
				<li><a href="">Session 2 (2012 January - 2012 March)</a></li>
				<li><a href="">Session 1 (2011 May - 2011 July)</a></li>
			</ul>					
				
			
		<div class="modal bs-submit-confirm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Confirm</h4>
			  </div>
			  <div class="modal-body">
				<p class="warning" style="color:red">Warning: The matching constrains are not satisfied because [reason].</p>
				<p>Are you sure you want to make the final matching decision for the following manuscript:</p>
				<div class="manu">
				<p>PCA versus LDA (ID:XXXXX)</p>
				<p>Author: Martinez, A.</p>
				<p>Reviewers: John Lee*, Emily White, Mary Green*, Jim Chen</p>
				</div>
			  </div>
			  <div class="modal-footer">
				<form class="form-horizontal" role="form" method="post">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default confirm-no-btn"  data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary confirm-yes-btn" title="Submit final decision.">Yes</button>
					</div>
				</form>	
			  </div>
			</div>
		  </div>
		</div>			
		<div class="modal bs-submit-confirm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Confirm</h4>
			  </div>
			  <div class="modal-body">
				<p>Are you sure you want to make the final matching decision for the following manuscript:</p>
				<div class="manu">
				<p>PCA versus LDA (ID:XXXXX)</p>
				<p>Author: Martinez, A.</p>
				<p>Reviewers: John Lee*, Emily White, Mary Green*, Jim Chen</p>
				</div>
			  </div>
			  <div class="modal-footer">
				<form class="form-horizontal" role="form">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default confirm-no-btn"  data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary confirm-yes-btn" title="Submit final decision.">Yes</button>
					</div>
				</form>	
			  </div>
			</div>
		  </div>
		</div>				
			
		
{% endblock %}
