<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/admin_style.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="wraper">
    <div class="header">
      <div class="container">
        <a href="{% url 'admin_homepage' %}" class="logo-icon">
          <img src="{% static 'fig/swc_logo.png' %}">
          <p class="logo-text">Manuscript Review</p>
        </a>

        <ul class="menu">
          <li><a data-toggle="modal" href="#myModal0">Help</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'admin_logout' %}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Modal 0 -->
    <div class="row">
      <div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel0">Helps</h4>
            </div>
            <div class="modal-body">
              <ul>
                <li><a href="#">On-line Help for admin</a><ul>
                <li><a href="#login-logout">Login/Logout</a></li>
                {% if user.is_authenticated %}
                <li><a href="#manuscripts-reviewers">Manuscripts/Reviewers Matching</a></li>
                <li><a href="#system-setting">System setting</a></li>
                {% endif %}
              </ul>
              <h4 id="login-logout">Login/Logout</h4>
              <ul>
                <li>Only one admin account is available for committee members to log in.</li>
                <li>If you need the admin account as well as the password, please contact us.</li>
                <li>For current version of this system, to log in as a normal user, user needs
                to log out from the admin pages, if s/he has logged in as admin.</li>
              </ul>
              {% if user.is_authenticated %}
              <h4 id="manuscripts-reviewers">Manuscripts/Reviewers Matching</h4>
              <ul>
                <li>The matching decision of Manuscripts/Reviewers will be made by the admin
                when the &#8220;Submit final decision&#8221; button was pressed and confirmed.</li>
                <li>After the final decision was made, there is no way to edit it any more.</li>
                <li>Manuscripts with pending matching decisions are listed above all manuscripts
                whose final descisions have been submitted.</li>
                <li>Removing one current assigned reviewer can be done by unchecking the name
                after click on the button &#8220;Edit&#8221;.</li>
                <li>The button &#8220;Add more reviewers&#8221; allows admin adding names which are
                listed neither in the list of assiged reviewers nor the list of recommend
                reviewers.</li>
                <li>To add extra reviewers, click on &#8220;Edit&#8221; and then &#8220;Add more reviewers&#8221;; in
                the right panel, choose the names without a preceeding tick, and click the
                &#8220;&lt;&#8221; button.</li>
              </ul>
              <h4 id="system-setting">System setting</h2>
              <ul>
                <li>All the deadlines of current session can be modified in the page of &#8220;System
                Settings&#8221;.</li>
                <li>The max number of manuscripts can also be modified in the same page.</li>
              </ul>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">
		{% block body %}{% endblock %}
	  </div>
	</div>
    
    <div class="footer">
      <div class="container">
        &copy;2014 Copyright 
      </div>
    </div>
	</div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/admin_app.js' %}"></script>

  </body>
</html>
