{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2 title="Introduction" class="text-center">Have your manuscripts reviewed</h2>
		<p title="Current Session" class="text-center">
			<font size="3">
				{% if user.is_authenticated %}
				This is a project for CS 485/540 at Emory. We wanted to create a utility to facilitate internal reviews of manuscripts for Emory graduate students, in order to improve their success in being accepted to national journals. Please submit feedback by clicking "more" in the above bar and selecting "submit feedback".
				{% else %}
				Create a free account.
				{% endif %}
			</font>
		</p>
		<div class="hot-container" style="text-align: center;">
			{% if user.is_authenticated %}
            {% if not user.is_site_admin %}
			<a href="{% url 'authorhome' %}" class="abtn btn-green">Author Center</a>
			<a href="{% url 'review' %}" class="abtn btn-green">Reviewer Center</a>
			{% else %}
            <p>You are on the wrong page !</p>
            {% endif %}
            {% else %}
			<a href="{% url 'signup' %}" class="abtn btn-green">New User</a>
			<a href="{% url 'login' %}" class="abtn btn-green">Log In</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
