{% extends 'base.html' %}

{% block head %}
<!-- Landing page for the website. -->
<style>
.landing-page {
	width: 500px;
	height: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.logo {
	font-size: 100px;
	padding: 0;
	margin: 0;
}
</style>
{% endblock %}

{% block body %}
<div class="landing-page">
	<p class="monterey logo">PeerReview</p>
	{% if user.is_authenticated %}
		<p>Logged in as <a href="{% url 'account' %}">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.email }}{% endif %}</a></p>
		<p style="font-size: 25px;"><a href="{% url 'review' %}">Review</a> - <a href="{% url 'upload' %}">Submit</a>
	{% else %}
		<p>Have your paper reviewed before submitting it</p>
	{% endif %}
</div>
{% endblock %}