<!-- Abstraction for uploading multiple files -->

     <div class="all_file_inputs">
	<input class="filefield0" name="file" type="file" style="border: none;" style="display: inline;"/>
	<a class="filefield0" style="display: inline;" href="javascript:delete_element('filefield0')">Remove</a>
                <a class="btn btn-default pull-right" href="javascript:add_next_element()">Add</a>

<div class="already_uploaded">


	<div style="padding-top: 10px;">Previously Uploaded</div>
    </div>
	{% if files %}
	{% for file in files.all %}
	<div id="already_uploaded_{{ file.id }}">
		<a target="_blank" href="/media/{{ file.upload }}">{{ file }}</a>
		<a href="javascript:remove_file('{% url 'remove_associated_file' file.id %}', 'already_uploaded_{{ file.id }}');">Remove</a>
	</div>
	{% endfor %}
	{% endif %}
</div>

