<!-- All the elements associated with a single review period. Used in both uploader and reviewer view -->
<div class="review-period" style="padding: 5px 5px 5px 5px;">
	<ul style="list-style-type: none; padding: 0; margin: 0;">
		{% if period.start_date %}<li>{{ period.start_date|date:"d M Y" }}<span class="period_label" style="padding-left: 15px;">Period begins</span></li>{% endif %}
		{% if period.submission_deadline %}<li>{{ period.submission_deadline|date:"d M Y" }}<span class="period_label" style="padding-left: 15px;">Deadline for submissions</span></li>{% endif %}
		{% if period.review_deadline %}<li>{{ period.review_deadline|date:"d M Y" }}<span class="period_label" style="padding-left: 15px;">Deadline for reviewers</span></li>{% endif %}
		{% if period.group_meeting_time %}<li>{{ period.group_meeting_time|date:"d M Y" }}<span class="period_label" style="padding-left: 15px;">Group meeting date</span></li>{% endif %}
	</ul>
	There are {{ period.manuscripts.all.count }} manuscripts in this review period.
</div>