<!--http://trentrichardson.com/examples/timepicker/-->

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset='utf-8'>

  <title>Setting Success</title>
  <style>
    table, td {
      border:solid grey 1px;
    }
  </style>
</head>

<body>

  <h1>The information for current session is set successful.</h1>
  <p>Current session:</p>
  <table>
    <tr>
      <td>
        Start date
      </td>
      <td>
        {{period.start_date}}
      </td>
    </tr>
    <tr>
      <td>
        Submission deadline
      </td>
      <td>
        {{period.submission_deadline}}
      </td>
    </tr>
    <tr>
      <td>
        Review deadline
      </td>
      <td>
        {{period.review_deadline}}
      </td>
    </tr>
    <tr>
      <td>
        Group meeting time
      </td>
      <td>
        {{period.group_meeting_time}}
      </td>
    </tr>
    <tr>
      <td>
        Group meeting venue
      </td>
      <td>
        {{period.group_meeting_venue}}
      </td>
    </tr>
    <tr>
      <td>
        Max. number of manuscripts that the system can handle
      </td>
      <td>
        {{period.max_manuscript}}
      </td>
    </tr>
  </table>

</body>
</html>