<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<style>
		body {
			text-align: center;
		}
		p {
			font-size: 14px;
		}
		.header {
			font-size: 18px;
		}
        footer{
            color: red;
            font-size: 30px;

            }

		</style>
	</head>
	<body>
		<h1>Terms of Service</h1>
		<p class="header">Acceptance of Terms Clause</p>
		<p>By accessing and using this website, you accept and agree to be bound by the terms of this
		agreement. When using this website’s services, you shall be subject to any rules applicable to
		such services, which may be modified periodically. All such rules are hereby incorporated into
		the terms of service. Any participation in this site constitutes acceptance of this agreement.
		If you do not agree to abide by it, please do not use this site.</p>
		<p class="header">Reviewers Agree to Respect Intellectual Property</p>
		<p>By using this site, users agree to respect the intellectual property of other users. Any ideas
		described in a manuscript are the sole intellectual property of the author, and by using this
		site users agree to be held liable for using information gained from the author’s work without
		the author’s consent.</p>
		<p class="header">Copyright Infringement</p>
		<p>In the event that you believe your intellectual property rights have been violated, you can
		report the incident to one of the website’s administrators. While they are not responsible for
		dealing with the infringement directly, they may be able to help resolve conflicts before they
		escalate. Should intellectual property be violated, it shall in no way make the website or its
		creators responsible or liable for any repercussions.</p>
		<p class="header">Usage of Site</p>
		<p>This site shall not be responsible or liable for the accuracy, usefulness or availability of
		any information transmitted or made available via the site. This site shall not be responsible
		or liable for any errors or omissions in the information it provides. This site shall also not
		be responsible or liable for issues resulting from its use.</p>
		<p class="header">Privacy Policy</p>
		<p>All manuscripts will be stored in a secured database. The security of this database is a high
		priority for this website. Manuscripts will be made available to users only after agreeing to
		the terms of document. The creators of this site shall not be responsible or liable for the
		theft of any intellectual property through subversive means. Further, the creators of this site
		shall not be held responsible or liable for failure to operate a secure server, or failure to
		identify and assess internal and external risks relating to the security of personal information,
		or failure to monitor the effectiveness of security or personal information.</p>
	</body>

        <footer>
             <a href="{% url 'agreement' %}" class="abtn btn-green">Back to Site</a>

        </footer>


</html>