{% extends 'base.html' %}

{% block body %}
<div class="row">
	<h4 class="text-center">Deadline for Manuscript Submission:</h4>
	<h3 class="text-center" style="color:red;">{% if period %}{{ period.submission_deadline }}{% else %}The review period is currently closed.{% endif %}</h3>
</div>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>My Manuscripts</p>
			</div>
			<div class="panel-body">
				{% for manuscript in user.authors.all %}
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							{{ manuscript.title }}
							<button type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" style="width: 100px;" data-target="#modal{{ manuscript.id }}">View</button>
                         <button type="button"  data-toggle="modal" data-target="#finalize{{ manuscript.id }}"
                            class="btn btn-default btn-sm pull-right" style="margin-right: 10px; width: 100px;"
                            href="#"
                            onmouseover="changeText(this, 'Submit')"
                            onmouseout="changeText(this, '{{ manuscript.status }}')">
                            {{ manuscript.status }}
                        </button>
                        </div>
					</div>
                 <div class="modal fade" id="finalize{{ manuscript.id }}" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">{{ manuscript.title }}</h4>
                            </div>
                            <div class="modal-body">
                                {% if manuscript.is_final %}
                                <p>
                                    <bold>
                                        Manuscript Already Submitted
                                    </bold>
                                </p>
                                {% endif %}
                                {% if not manuscript.is_final %}

                                <p>
                                    <bold>
                                        Are you sure you want to submit?
                                    </bold>
                                </p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                              {% if manuscript.status == 'Submitted' %}
                            	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                {% endif %}
                                {% if not manuscript.status == 'Submitted' %}
                                <a href="{% url 'submit_manuscript' manuscript.id %}" class="btn btn-default">Submit Manuscript</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>












					<div class="modal fade" id="modal{{ manuscript.id }}" role="dialog" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title">{{ manuscript.title }}</h4>
								</div>
								<div class="modal-body">
									<p>Abstract: {{ manuscript.abstract }}</p>
									<p>Resources:<ul>
									{% for file in manuscript.files.all %}
									<li><a href="/media/{{ file.upload }}" download>{{ file }}</a></li>
									{% endfor %}
									</ul></p>
								</div>
								<div class="modal-footer">
									<a href="{% url 'edit_manuscript' manuscript.id %}" class="btn btn-default">Edit</a>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					{% if not forloop.last %}<hr/>{% endif %}
				{% endfor %}
			</div>
		</div>
	    <div class = "row">
            <div class="hot-container" style="text-align:left;">
                {% if period and period.manuscripts.count < period.max_manuscripts %}
					<a href="{% url 'upload_manuscript' %}" class="abtn btn-green">Submit a manuscript</a>
                {% endif %}
	    </div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="hot-container" style="text-align:right;">
					<a href="{% url 'index' %}" class="abtn btn-green">Back</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function changeText(o, txt) {
	o.innerHTML = txt;
}
</script>
{% endblock %}
