{% extends 'base.html' %}

{% block head %}
<style>
.errorlist {
font-size: 10px;
color: red;
display: inline;
}
.errorlist li {
display: inline
}
</style>
{% endblock %}
{% block body %}
<div class="row" id="form-fill">
	<div class="col-sm-10 col-sm-offset-0">
		<form class="form-horizontal" name="uploadmanuscriptForm" role="form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
				{{ field.errors }}
				<label for="{{ field.id_for_label }}" class="col-sm-3 text-right control-lable">{{ field.label_tag }}</label>
				<div class="col-sm-9">
					{{ field }}
				</div>
			</div>
			{% endfor %}
			<div class="form-group">
				<label for="file" class="col-sm-3 text-right">Associated Files (You can upload more later)</label>
				<div class="col-sm-9">
					<input name="file" type="file" class="form-control text-center" multiple />
				</div>
			</div>

			<div class="hot-container text-center">
                <div class="col-sm-11 col-sm-offset-2">
				<button class="abtn btn-green" name = "submitbutton" type="submit">Submit</button>
				<button class="abtn btn-green" name = "savebutton" href="{% url 'authorhome' %}">Save</button>
			</div>
                </div>
		</form>
	</div>
</div>
{% endblock %}